@import "./_partials";

body, ul, .nav__links li, h3, .section3 h2 {
  margin: 0;
}

nav, a, footer, button {
  color: $primaryColor-3;
  background-color: $primaryColor-1;
  text-decoration: none;
}

article, footer {
  padding: $horizontalPadding-mobile;
  padding-top: $paddingTop-mobile;
}

label {
  padding: 4px;
}

.logo {
  @include logoSize;
  margin: 0;
}

.nav {
  padding-top: $paddingTop-mobile;
  text-align: center;
  
  &__links{
    padding: 0;
    display: flex;
    list-style: none;

    
    & li {
      padding: 10px 0;
      height: 100%;
      width: 50%;
      display: inline-block;

      &:first-child {
        border-bottom: 3px solid $primaryColor-3;
      } 
      
      &:hover {
        border-bottom: 3px solid $primaryColor-3; 
      }
    }
  }
}

.footer {
  padding-bottom: 2%;

  & h2 {
    margin-top: 0%;
  }

  &__icons {
    width: 43%;
    @include center;
    justify-content: space-between;
  }

  &__strongText {
    font-family: "demi";
  }
  
  & div p {
    margin-bottom: 0;

    &:nth-child(even){
      margin-top: 0;
    }
  }

  &__logo {
    padding-top: 4rem;
  }

  &__license {
    font-size: 11px; // It is modified to be more similar to the mockup
  }
}