@import "./_partials";

body, ul, .nav__links li, .section1__title {
  margin: 0;
}

nav, a, footer, button {
  color: $primaryColor-3;
  background-color: $primaryColor-1;
  text-decoration: none;
}

label {
  padding: 4px;
}

.logo {
  @include logoSize;
  margin: 0;
}