// Colors

$primaryColor-1: #323232;
$primaryColor-2: #afafaf;
$primaryColor-3: #ffffff;

$secondaryColor-1: #000000;
$secondaryColor-2: #e1e1e1;
$secondaryColor-3: #fafafa;

// General variables

$horizontalPadding-tablet: 0 3.6em;
$paddingTop-tablet: 4.8em;
$divideLine: 0.1em solid $secondaryColor-2;

$horizontalPadding-mobile: 0 1.6em;
$paddingTop-mobile: 2.4em;

// General styles

@mixin buttonStyle {
  height: 4em;
  border-radius: 0.4em;
  border: none;

  &:hover {
    background-color: $secondaryColor-1;
  }
}

@mixin avatar {
  height: 3.1em;
  width: 3.4em;
  background-color: $secondaryColor-2;
  border-radius: 50%;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styles for tablet

@media (min-width: 768px) {
  @mixin buttonStyle {
    padding: 0 3.2em;
    min-width: 15em;
  }

  @mixin formField {
    max-height: 4.8em;
  }

  @mixin avatar {
    max-height: 4.8em;
    max-width: 4.8em;
  }
}
