@font-face {
  font-family: "bold";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("openType");
  font-weight: 700;
}

@font-face {
  font-family: "demi";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("openType");
  font-weight: 600;
}

@font-face {
  font-family: "regular";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("openType");
  font-weight: 400;
}

h1,
h2 {
  font-size: 2.4em;
  line-height: 3.2em;
  font-family: "demi";
}

h3,
li {
  font-size: 1.4em;
  line-height: 2.2em;
  font-family: "demi";
}

p {
  font-size: 1.3em;
  line-height: 1.8em;
  font-family: "regular";
}

label,
button {
  font-size: 1em;
  line-height: 2em;
  font-family: "demi";
}

@media (min-width: 768px) {
  h1 {
    font-size: 6em;
    line-height: 6.8em;
    font-family: "bold";
  }
  h2 {
    font-size: 3.6em;
    line-height: 4.4em;
    font-family: "bold";
  }
  h3 {
    font-size: 2.4em;
    line-height: 3.2em;
    font-family: "demi";
  }
  p {
    font-size: 1.4em;
    line-height: 2.2em;
    font-family: "regular";
  }
  footer p {
    font-size: 1.4em;
    line-height: 2em;
    font-family: "regular";
  }
  button {
    font-size: 1.2em;
    font-family: "bold";
  }
  label {
    font-size: 1.2em;
    font-family: "demi";
  }
}

html {
  font-size: 10px;
}

body,
ul,
.nav__links li,
h3,
.section3 h2,
.logo,
.footer h2 {
  margin: 0;
}

nav,
a,
footer,
button {
  color: #ffffff;
  background-color: #323232;
  text-decoration: none;
}

article,
footer {
  padding: 0 1.6em;
  padding-top: 2.4em;
}

label {
  padding: 0.4em;
}

.logo {
  max-height: 2em;
  max-width: 12em;
}

.nav {
  padding-top: 2.4em;
  text-align: center;
}

.nav__links {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__links li {
  padding: 1em 0;
  width: 50%;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.nav__links li:first-child {
  border-bottom: 0.3em solid #ffffff;
}

.nav__links li:hover {
  border-bottom: 0.3em solid #ffffff;
}

.nav__links--active {
  font-weight: bold;
}

.nav__links--inactive {
  color: #e1e1e1;
}

.footer {
  padding-bottom: 2%;
}

.footer__icons {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__strongText {
  font-family: "demi";
}

.footer div p {
  margin-bottom: 0;
}

.footer div p:nth-child(even) {
  margin-top: 0;
}

.footer__logo {
  padding-top: 4rem;
}

.footer__license {
  font-size: 1.1em;
}

@media (min-width: 768px) {
  article,
  footer {
    padding: 0 3.6em;
    padding-top: 4.8em;
  }
  .section1 h2 {
    margin-top: 0;
    line-height: 1.4em;
    font-family: "demi";
  }
  .logo {
    margin: 4%;
  }
  .nav {
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__links {
    width: 30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__links li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .footer h2 {
    margin: 0;
    line-height: 1.4em;
    font-family: "demi";
    display: inline-block;
  }
  .footer__icons {
    margin: 0 0 0 5%;
    width: 20%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.7em;
  }
  .footer__text {
    margin: 2% 0 0 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer p {
    line-height: 1.5em;
  }
  .footer p:nth-child(odd) {
    margin-top: 2em;
  }
  .footer__logo {
    top: -0.2em;
    right: 2em;
    position: absolute;
  }
  .footer__license {
    margin-top: 4em;
  }
}

@media (min-width: 1280px) {
  .nav {
    padding-left: 7%;
  }
  .nav__links {
    width: 20%;
  }
  .footer h2 {
    font-size: 4.6em;
  }
  .footer__icons {
    width: 13%;
  }
  .footer__icons a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__icons a img {
    height: 1.8em;
  }
  .footer__text {
    width: 73%;
  }
  .footer__logo {
    top: -2em;
  }
  .footer__license {
    margin-top: 6em;
  }
}

.header {
  width: auto;
  color: #ffffff;
  position: relative;
}

.header__image {
  width: 100%;
}

.header__overlay {
  top: -0.3em;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 50%;
  background-color: #323232;
  position: absolute;
  z-index: 1;
}

.header__title {
  top: 35%;
  left: 5%;
  position: absolute;
  z-index: 2;
}

.section1 {
  padding-top: 1.4em;
}

.section1 h2 {
  margin: 0;
  line-height: 2.2em;
}

.section1__container img {
  width: 100%;
}

.section1__container h3 {
  margin-top: 1.5rem;
  line-height: 1.5em;
}

.section3 {
  padding-bottom: 1.6em;
  background-color: #e1e1e1;
}

.section3 h2 {
  padding-bottom: 0.5rem;
}

.section3__images img {
  padding: 0.3rem 0;
  width: 100%;
}

.section4 {
  margin-bottom: 1.6em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section4--title {
  line-height: 1em;
}

.section4--newComment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4--userPicture {
  justify-items: flex-start;
  height: 3.1em;
  width: 3.4em;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.section4--userPicture1 {
  margin-top: 2.7em;
}

.section4__form {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4__form--list {
  width: 100%;
  padding-left: 5%;
  list-style: none;
}

.section4__form--label {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #afafaf;
}

.section4__form--item2 {
  margin: 1.5em 0;
}

.section4__form--input {
  padding: 0.7em;
  width: 91%;
  border-radius: 0.4em;
  border: 0.1em solid #e1e1e1;
  outline-color: #323232;
  background-color: #fafafa;
}

.section4__form--input:active {
  border-color: #323232;
}

.section4__form--input:invalid {
  border-color: #d22d2d;
}

.section4__form--input::-webkit-input-placeholder {
  color: #323232;
}

.section4__form--input:-ms-input-placeholder {
  color: #323232;
}

.section4__form--input::-ms-input-placeholder {
  color: #323232;
}

.section4__form--input::placeholder {
  color: #323232;
}

.section4__form--comment {
  min-height: 3.6em;
  height: 6em;
}

.section4--button {
  height: 4em;
  border-radius: 0.4em;
  border: none;
  height: 3em;
  width: 82%;
  font-size: 1.5em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section4--button:hover {
  background-color: #000000;
}

.section4__comments {
  margin-top: 2.4em;
  border-top: 0.1em solid #e1e1e1;
}

.section4__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1em solid #e1e1e1;
}

.section4__comment--box {
  padding-left: 1.6em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section4__comment--titles {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4__comment--name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section4__comment--date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #afafaf;
}

.section4__comment--paragraph {
  margin-top: 0;
  line-height: 1.5em;
}

@media (min-width: 768px) {
  .header__overlay {
    top: -0.4em;
  }
  .header__title {
    top: 0%;
  }
  .section1__container {
    width: 83%;
    margin: auto;
  }
  .section1 h3 {
    line-height: 1.5em;
    font-size: 2.2em;
  }
  .section1 h3:last-child {
    margin-top: 0.5em;
    font-family: "regular";
    font-size: 1.5em;
  }
  .section2 {
    width: 75%;
    margin: auto;
    margin-bottom: 2em;
  }
  .section2 h3 {
    line-height: 2.2em;
  }
  .section2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 div p {
    line-height: 1.5em;
  }
  .section2 div p:first-child {
    margin-right: 2.1em;
  }
  .section3 {
    margin-top: 1.6em;
    padding-top: 0;
    background-color: #e1e1e1;
  }
  .section3 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section3 div img {
    padding-bottom: 1.6em;
    width: 30%;
  }
  .section3 h2 {
    line-height: 2.4em;
    font-family: "regular";
  }
}

@media (min-width: 1280px) {
  .header h1 {
    top: 22%;
  }
  .section1 div img {
    margin-bottom: 3.5rem;
  }
  .section1 div h3 {
    width: 81%;
    font-size: 2.7em;
  }
  .section1 div h3:last-child {
    font-family: "demi";
    font-size: 2em;
  }
  .section2 {
    margin-bottom: 4em;
    width: 78%;
  }
  .section2 h3 {
    font-size: 3.4em;
  }
  .section2 div p {
    font-size: 1.62em;
  }
  .section3 {
    padding-top: 4.8em;
  }
  .section3 h2 {
    font-size: 5.6em;
    font-family: "demi";
  }
  .section3 div img {
    padding-bottom: 3.6em;
  }
}
/*# sourceMappingURL=bio.css.map */