@font-face {
  font-family: "bold";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("openType");
  font-weight: 700;
}

@font-face {
  font-family: "demi";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("openType");
  font-weight: 600;
}

@font-face {
  font-family: "regular";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("openType");
  font-weight: 400;
}

h1,
h2 {
  font-size: 2.4em;
  line-height: 3.2em;
  font-family: "demi", Courier, monospace;
}

h3,
li {
  font-size: 1.4em;
  line-height: 2.2em;
  font-family: "demi", Courier, monospace;
}

p {
  font-size: 1.3em;
  line-height: 1.8em;
  font-family: "regular", Courier, monospace;
}

label,
button {
  font-size: 1em;
  line-height: 2em;
  font-family: "demi", Courier, monospace;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6em;
    line-height: 6.8em;
    font-family: "bold", Courier, monospace;
  }
  h2 {
    font-size: 3.6em;
    line-height: 4.4em;
    font-family: "bold", Courier, monospace;
  }
  h3 {
    font-size: 2.4em;
    line-height: 3.2em;
    font-family: "demi", Courier, monospace;
  }
  p {
    font-size: 1.4em;
    line-height: 2.2em;
    font-family: "regular", Courier, monospace;
  }
  footer p {
    font-size: 1.4em;
    line-height: 2em;
    font-family: "regular", Courier, monospace;
  }
  button {
    font-size: 1.2em;
    font-family: "bold", Courier, monospace;
  }
  label {
    font-size: 1.2em;
    font-family: "demi", Courier, monospace;
  }
}

html {
  font-size: 10px;
}

body,
ul,
.nav__links li,
h3,
.section3 h2,
.logo,
.footer h2 {
  margin: 0;
}

nav,
a,
footer,
button {
  color: #ffffff;
  background-color: #323232;
  text-decoration: none;
}

article,
footer {
  padding: 0 1.6em;
  padding-top: 2.4em;
}

label {
  padding: 0.4em;
}

.logo {
  max-height: 2em;
  max-width: 12em;
}

.nav {
  padding-top: 2.4em;
  text-align: center;
}

.nav__links {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__links li {
  padding: 1em 0;
  width: 50%;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.nav__links li:first-child {
  border-bottom: 0.3em solid #ffffff;
}

.nav__links li:hover {
  border-bottom: 0.3em solid #ffffff;
}

.nav__links--active {
  font-weight: bold;
}

.nav__links--inactive {
  color: #e1e1e1;
}

.strongText {
  font-family: "demi";
}

.footer {
  padding-bottom: 2%;
}

.footer article {
  padding: 0;
}

.footer__icons {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text p {
  margin-bottom: 0;
  line-height: 1.5em;
}

.footer__text p:nth-child(even) {
  margin-top: 0;
}

.footer__logo {
  padding-top: 4rem;
}

.footer__license {
  font-size: 1.1em;
}

@media (min-width: 768px) {
  article,
  footer {
    padding: 0 3.6em;
    padding-top: 4.8em;
  }
  .logo {
    margin: 4%;
  }
  .nav {
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__links {
    width: 30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__links li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .footer h2 {
    margin: 0;
    line-height: 1.4em;
    font-family: "demi";
    display: inline-block;
  }
  .footer__icons {
    margin: 0 0 0 5%;
    width: 20%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.7em;
  }
  .footer__text {
    margin: 2% 0 0 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer p {
    line-height: 1.5em;
  }
  .footer p:nth-child(odd) {
    margin-top: 2em;
  }
  .footer__logo {
    top: -0.2em;
    right: 2em;
    position: absolute;
  }
  .footer__license {
    margin-top: 4em;
  }
}

@media (min-width: 1280px) {
  .nav {
    padding-left: 7%;
  }
  .nav__links {
    width: 20%;
  }
  .footer h2 {
    font-size: 4.6em;
  }
  .footer__icons {
    width: 13%;
  }
  .footer__icons a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__icons a img {
    height: 1.8em;
  }
  .footer__text {
    width: 73%;
  }
  .footer__logo {
    top: -2em;
  }
  .footer__license {
    margin-top: 6em;
  }
}

.header {
  width: auto;
  position: relative;
  color: #ffffff;
}

.header__image {
  width: 100%;
}

.header__overlay {
  top: -0.3em;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 50%;
  position: absolute;
  z-index: 1;
  background-color: #323232;
}

.header__title {
  top: 27%;
  left: 5%;
  position: absolute;
  z-index: 2;
}

.aboutTheMusicians__title {
  margin: 0;
  line-height: 2.2em;
}

.aboutTheMusicians__image {
  width: 100%;
}

.aboutTheMusicians__subtitle {
  margin-top: 1.5rem;
  line-height: 1.5em;
}

.photoGallegry {
  padding-bottom: 1.6em;
}

.photoGallegry__title {
  padding-bottom: 0.5rem;
}

.photoGallegry__image {
  padding: 0.3rem 0;
  width: 100%;
}

.joinTheConversation {
  margin-bottom: 1.6em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.joinTheConversation__title {
  line-height: 1em;
}

.joinTheConversation__newComment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.joinTheConversation__userPicture {
  margin: 1.4em 0;
  justify-items: flex-start;
  height: 3.1em;
  width: 3.4em;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.joinTheConversation__userPicture--1 {
  margin-top: 2.7em;
}

.joinTheConversation__form {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.joinTheConversation__form--list {
  padding-left: 5%;
  list-style: none;
}

.joinTheConversation__form--label {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #afafaf;
}

.joinTheConversation__form--item2 {
  margin: 1.5em 0;
}

.joinTheConversation__form--input {
  padding: 0.7em;
  width: 91%;
  border-radius: 0.4em;
  border: 0.1em solid #e1e1e1;
  outline-color: #323232;
  background-color: #fafafa;
}

.joinTheConversation__form--input:active {
  border-color: #323232;
}

.joinTheConversation__form--input:invalid {
  border-color: #d22d2d;
}

.joinTheConversation__form--input::-webkit-input-placeholder {
  color: #323232;
}

.joinTheConversation__form--input:-ms-input-placeholder {
  color: #323232;
}

.joinTheConversation__form--input::-ms-input-placeholder {
  color: #323232;
}

.joinTheConversation__form--input::placeholder {
  color: #323232;
}

.joinTheConversation__form--comment {
  min-height: 3.6em;
  height: 6em;
}

.joinTheConversation__button {
  height: 3em;
  width: 95%;
  font-size: 1.5em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #ffffff;
  background-color: #323232;
  height: 4em;
  border-radius: 0.4em;
  border: none;
}

.joinTheConversation__button:hover {
  background-color: #000000;
}

.joinTheConversation__comments {
  margin-top: 2.4em;
  border-top: 0.1em solid #e1e1e1;
}

.joinTheConversation__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1em solid #e1e1e1;
}

.joinTheConversation__comment--box {
  padding-left: 1.6em;
  width: 70%;
}

.joinTheConversation__comment--titles {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.joinTheConversation__comment--name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.joinTheConversation__comment--date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #afafaf;
}

.joinTheConversation__comment--paragraph {
  margin-top: 0;
  line-height: 1.5em;
}

.joinTheConversation__buttons {
  margin-left: 0.5em;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.joinTheConversation__buttons--likes {
  margin-top: 1em;
  width: 1.5em;
}

.joinTheConversation__buttons--counter {
  margin-top: 0;
}

.joinTheConversation__buttons--remove {
  width: 90%;
  font-size: 0.5em;
  font-family: "regular", Courier, monospace;
  height: 4em;
  border-radius: 0.4em;
  border: none;
}

.joinTheConversation__buttons--remove:hover {
  background-color: #000000;
}

@media (min-width: 768px) {
  label {
    font-size: 1em;
  }
  .header__overlay {
    top: -0.4em;
  }
  .header__title {
    top: 7%;
    font-family: "regular", Courier, monospace;
  }
  .aboutTheMusicians__title {
    margin-top: 0;
    line-height: 1.4em;
    font-family: "demi";
  }
  .aboutTheMusicians__container {
    width: 83%;
    margin: auto;
  }
  .aboutTheMusicians__image {
    margin-top: 1.6em;
  }
  .aboutTheMusicians__subtitle {
    margin-top: 2.5rem;
    line-height: 1.5em;
    font-size: 2.2em;
  }
  .aboutTheMusicians__subtitle:last-child {
    margin-top: 0.5em;
    font-family: "regular";
    font-size: 1.5em;
  }
  .theBeesKnees {
    width: 75%;
    margin: auto;
    margin-bottom: 2em;
  }
  .theBeesKnees__title {
    line-height: 2.2em;
  }
  .theBeesKnees__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .theBeesKnees__paragraph {
    font-size: 1.38em;
    line-height: 1.5em;
  }
  .theBeesKnees__paragraph:first-child {
    margin-right: 2.1em;
  }
  .photoGallegry {
    margin-top: 1.6em;
    padding-top: 0;
  }
  .photoGallegry__title {
    line-height: 2.4em;
    font-family: "demi";
  }
  .photoGallegry__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .photoGallegry__image {
    padding-bottom: 1.6em;
    width: 30%;
  }
  .joinTheConversation {
    margin-bottom: 3em;
  }
  .joinTheConversation__title {
    font-family: "demi";
  }
  .joinTheConversation__newComment {
    width: auto;
    padding: 0 3.6em;
  }
  .joinTheConversation__userPicture {
    height: 3.6em;
    width: 3.9em;
  }
  .joinTheConversation__userPicture--1 {
    height: 4.8em;
    width: 4.8em;
  }
  .joinTheConversation__form--input {
    width: auto;
  }
  .joinTheConversation__form--input1 {
    height: 2em;
  }
  .joinTheConversation__form--list {
    padding-left: 3%;
  }
  .joinTheConversation__button {
    margin-bottom: 1.6em;
    height: 2.5em;
    width: 23%;
    font-family: "regular";
  }
  .joinTheConversation__comments {
    margin: 0 3.6em;
  }
  .joinTheConversation__comment {
    padding: 0.3em 0;
  }
  .joinTheConversation__comment--box {
    padding-left: 2.4em;
  }
  .joinTheConversation__comment--name {
    font-size: 1.8em;
  }
  .joinTheConversation__comment--paragraph {
    font-size: 1.5em;
  }
  .joinTheConversation__buttons--remove {
    font-size: 1em;
  }
}

@media (min-width: 1280px) {
  .header__title {
    top: 14%;
    left: 9%;
  }
  .aboutTheMusicians__image {
    margin: 3.6em 0 3.5em;
  }
  .aboutTheMusicians__subtitle {
    width: 81%;
    font-size: 2.7em;
  }
  .aboutTheMusicians__subtitle:last-child {
    font-family: "demi";
    font-size: 2em;
  }
  .theBeesKnees {
    margin-bottom: 4em;
    width: 78%;
  }
  .theBeesKnees__title {
    font-size: 3.4em;
  }
  .theBeesKnees__paragraph {
    font-size: 1.62em;
  }
  .photoGallegry {
    margin: 0 3.6em;
  }
  .photoGallegry__title {
    margin-bottom: 0;
    font-size: 5.6em;
    font-family: "demi";
  }
  .photoGallegry__image {
    padding-bottom: 1.6em;
    width: 32%;
  }
  .joinTheConversation {
    margin: 0 3.6em;
    width: auto;
  }
  .joinTheConversation__newComment,
  .joinTheConversation .joinTheConversation__comments {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .joinTheConversation__button {
    width: 25%;
  }
  .joinTheConversation__comment--paragraph {
    padding: 0 1.2em 0 0;
  }
}
/*# sourceMappingURL=bio.css.map */