@import "./partials/_typography";
@import "./partials/_partials";
@import "./partials/_global";

.header {
  width: auto;
  color: $primaryColor-3;
  position: relative;

  &__image {
    width: 100%;
  }

  &__overlay {
    top: -0.3em;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 50%;
    background-color: $primaryColor-1;
    position: absolute;
    z-index: 1;
  }

  &__title {
    top: 35%;
    left: 5%;
    position: absolute;
    z-index: 2;
  }
}

.section1 {
  padding-top: 1.4em;

  & h2 {
    margin: 0;
    line-height: 2.2em;
  }

  &__container {
    & img {
      width: 100%;
    }

    & h3 {
      margin-top: 1.5rem;
      line-height: 1.5em;
    }
  }
}

.section3 {
  padding-bottom: 1.6em;
  background-color: $secondaryColor-2;

  & h2 {
    padding-bottom: 0.5rem;
  }

  &__images img {
    padding: 0.3rem 0;
    width: 100%;
  }
}

// Tablet meria query

@media (min-width: 768px) {
  .header {
    &__overlay {
      top: -0.4em;
    }

    &__title {
      top: 0%;
    }
  }

  .section1 {
    &__container {
      width: 83%;
      margin: auto;
    }

    & h3 {
      line-height: 1.5em;
      font-size: 2.2em;

      &:last-child {
        margin-top: 0.5em;
        font-family: "regular";
        font-size: 1.5em;
      }
    }
  }

  .section2 {
    width: 75%;
    margin: auto;
    margin-bottom: 2em;

    & h3 {
      line-height: 2.2em;
    }

    & div {
      display: flex;

      p {
        line-height: 1.5em;

        &:first-child {
          margin-right: 2.1em;
        }
      }
    }
  }

  .section3 {
    margin-top: 1.6em;
    padding-top: 0;
    background-color: $secondaryColor-2;

    & div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      img {
        padding-bottom: 1.6em;
        width: 30%;
      }
    }

    & h2 {
      line-height: 2.4em;
      font-family: "regular";
    }
  }
}

@media (min-width: 1280px) {
  .header h1 {
    top: 22%;
  }

  .section1 {
    div {
      & img {
        margin-bottom: 3.5rem;
      }

      & h3 {
        width: 81%;
        font-size: 2.7em;

        &:last-child {
          font-family: "demi";
          font-size: 2em;
        }
      }
    }
  }

  .section2 {
    margin-bottom: 4em;
    width: 78%;

    & h3 {
      font-size: 3.4em;
    }

    & div p {
      font-size: 1.62em;
    }
  }

  .section3 {
    padding-top: $paddingTop-tablet;

    & h2 {
      font-size: 5.6em;
      font-family: "demi";
    }

    & div img {
      padding-bottom: 3.6em;
    }
  }
}
