@font-face {
  font-family: "bold";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("openType");
  font-weight: 700;
}

@font-face {
  font-family: "demi";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("openType");
  font-weight: 600;
}

@font-face {
  font-family: "regular";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("openType");
  font-weight: 400;
}

html {
  font-size: 10px;
}

h1,
h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: "demi";
}

h3,
li {
  font-size: 14px;
  line-height: 22px;
  font-family: "demi";
}

p {
  font-size: 13px;
  line-height: 18px;
  font-family: "regular";
}

label,
button {
  font-size: 10px;
  line-height: 20px;
  font-family: "bold";
}

@media (min-width: 768px) {
  h1 {
    font-size: 6em;
    line-height: 6.8em;
    font-family: "bold";
  }
  h2 {
    font-size: 3.6em;
    line-height: 4.4em;
    font-family: "bold";
  }
  h3 {
    font-size: 2.4em;
    line-height: 3.2em;
    font-family: "demi";
  }
  p {
    font-size: 1.4em;
    line-height: 2.2em;
    font-family: "regular";
  }
  footer p {
    font-size: 1.4em;
    line-height: 2em;
    font-family: "regular";
  }
  button,
  label {
    font-size: 1.2em;
    font-family: "bold";
  }
}

body,
ul,
.nav__links li,
h3,
.section3 h2,
.logo {
  margin: 0;
}

nav,
a,
footer,
button {
  color: #ffffff;
  background-color: #323232;
  text-decoration: none;
}

article,
footer {
  padding: 0 16px;
  padding-top: 24px;
}

label {
  padding: 4px;
}

.logo {
  max-height: 20px;
  max-width: 120px;
}

.nav {
  padding-top: 24px;
  text-align: center;
}

.nav__links {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__links li {
  padding: 10px 0;
  width: 50%;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.nav__links li:first-child {
  border-bottom: 3px solid #ffffff;
}

.nav__links li:hover {
  border-bottom: 3px solid #ffffff;
}

.nav__links--active {
  font-weight: bold;
}

.nav__links--inactive {
  color: #E1E1E1;
}

.footer {
  padding-bottom: 2%;
}

.footer h2 {
  margin-top: 0%;
}

.footer__icons {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__strongText {
  font-family: "demi";
}

.footer div p {
  margin-bottom: 0;
}

.footer div p:nth-child(even) {
  margin-top: 0;
}

.footer__logo {
  padding-top: 4rem;
}

.footer__license {
  font-size: 11px;
}

@media (min-width: 768px) {
  article,
  footer {
    padding: 0 36px;
    padding-top: 48px;
  }
  .section1 h2 {
    margin-top: 0;
    line-height: 1.4em;
    font-family: "demi";
  }
  .logo {
    margin: 4%;
  }
  .nav {
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__links {
    width: 30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__links li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin: 0;
  line-height: 1em;
  font-size: 2.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}

.footer__text {
  margin-top: 2%;
  margin-bottom: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
}

.footer__logo {
  top: 5.5em;
  right: 5em;
  position: absolute;
}

.footer__copyright {
  font-size: 1em;
}

.footer__icons {
  margin: 0 0 0 5%;
  width: 25%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.7em;
}

.footer__info {
  margin-right: 7%;
}

.footer__social-network {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header {
  width: auto;
  color: #ffffff;
  position: relative;
}

.header__image {
  width: 100%;
}

.header__overlay {
  top: -3px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 50%;
  background-color: #323232;
  position: absolute;
  z-index: 1;
}

.header__title {
  top: 35%;
  left: 5%;
  position: absolute;
  z-index: 2;
}

.section1__container img {
  width: 100%;
}

.section1__container h3 {
  margin-top: 0.5rem;
}

.section3 {
  padding-bottom: 16px;
  background-color: #E1E1E1;
}

.section3 h2 {
  padding-bottom: 0.5rem;
}

.section3__images img {
  padding: 0.3rem 0;
  width: 100%;
}

@media (min-width: 768px) {
  .header__overlay {
    top: -4px;
  }
  .header__title {
    top: 0%;
  }
  .section1__container {
    width: 83%;
    margin: auto;
  }
  .section1 h3 {
    line-height: 1.5em;
    font-size: 2.2em;
  }
  .section1 h3:last-child {
    margin-top: 0.5em;
    font-family: "regular";
    font-size: 1.5em;
  }
  .section2 {
    width: 75%;
    margin: auto;
    margin-bottom: 2em;
  }
  .section2 h3 {
    line-height: 2.2em;
  }
  .section2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 div p {
    line-height: 1.5em;
  }
  .section2 div p:first-child {
    margin-right: 2.1em;
  }
  .section3 {
    margin-top: 1.6em;
    padding-top: 0;
    background-color: #E1E1E1;
  }
  .section3 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section3 div img {
    padding-bottom: 1.6em;
    width: 30%;
  }
  .section3 h2 {
    line-height: 2.4em;
    font-family: "regular";
  }
}
/*# sourceMappingURL=bio.css.map */