@import "./partials/_typography";
@import "./partials/_partials";
@import "./partials/_global";

.nav li {
  &:first-child {
    border-bottom: none;
  }

  &:last-child {
    border-bottom: 0.3em solid $primaryColor-3;
  }
}

.header {
  width: auto;
  color: $primaryColor-3;
  position: relative;

  & article {
    padding: 0;
  }

  &__image {
    width: 100%;
  }

  &__overlay {
    top: -0.3em;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 50%;
    background-color: $primaryColor-1;
    position: absolute;
    z-index: 1;
  }

  &__text {
    top: 1.4em;
    padding: $horizontalPadding-mobile;
    position: absolute;
    z-index: 2;
  }

  &__title {
    margin-top: 1em;
    font-family: "regular", Courier, monospace;
    line-height: 1.5em;
    color: $primaryColor-3;

    &--2 {
      margin-top: 0.7em;
      width: 70%;
      line-height: 1.3em;
    }
  }
}

.shows {
  &__section {
    padding: $horizontalPadding-mobile;
    padding-top: $paddingTop-mobile;

    & label {
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__title {
    margin: 0;
    line-height: 1.2em;
    font-size: 3.4em;
  }

  &__titles {
    margin: 2% 0 1% 0;
    display: block;
    text-transform: uppercase;
    color: $primaryColor-2;
  }

  &__value {
    margin: 0 0 5% 0;
  }

  &__button {
    @include buttonStyle;
    height: 3em;
    width: 100%;
    font-size: 1.5em;

    &:hover {
      background-color: $secondaryColor-1;
    }
  }
}

.line {
  margin: 5% 0;
  border: 1px solid $secondaryColor-2;
}

.footer {
  margin-top: 5%;
}

// Tablet media query

@include tablet {
  .header {
    & iframe {
      height: 12em;
      width: 60%;
    }
    &__text {
      top: 0;
      padding: $horizontalPadding-tablet;
      padding-top: $paddingTop-tablet;
    }

    &__title {
      margin-top: 0.4em;
      font-size: 2.7em;

      &--2 {
        margin-top: 0.1em;
        width: 75%;
        font-size: 6em;
        font-family: "demi", Courier, monospace;
      }
    }
  }

  .shows {
    &__section {
      padding: $horizontalPadding-tablet;
      padding-top: $paddingTop-tablet;
    }

    &__title,
    .shows__value {
      font-family: "demi", Courier, monospace;
    }

    &__list {
      padding-top: 3.8em;
      display: flex;
      flex-direction: column;

      &:first-child {
        width: 50%;
        justify-content: space-evenly;
      }
    }

    &__group {
      height: 10%;
      display: inline-flex;
      align-items: center;

      &--1 {
        margin-bottom: 1em;
      }
    }

    &:not(:first-child) {
      justify-content: space-between;
    }

    &__button {
      width: 20%;
      font-family: "regular", Courier, monospace;
    }

    &__value {
      margin: 0 5% 0 0;
      width: 10em;
    }

    &__titles {
      margin: 0 1% 1% 0;
      width: 14em;
    }
  }

  .line {
    margin: 3% 0;
    width: 100%;
  }

  .footer {
    margin-top: 1em;
  }
}

// Desktop media query

@include desktop {
  .header {
    &__text {
      top: 19%;
      left: 7%;
      display: flex;
    }

    &__titles {
      width: 53%;
    }

    &__title {
      width: 85%;
    }

    & iframe {
      margin-top: 7em;
      margin-left: 2em;
      width: 42em;
    }
  }
}
